@import "nullstyle.scss";

*{
    font-family: 'Lato', sans-serif;
    font-weight: 400px;
}

@mixin textSet($fz, $lh, $clr) {
    font-size: $fz;
    line-height: $lh;
    color: $clr;
}

#container{
    margin: 0 auto;
    width: 1170px;
    padding: 0 15px;
}

#main-nav{
    background-color: #F8FAF9;
    padding: 44px 0;
    #main-nav__inner{
        display: flex;
        box-sizing: border-box;
        @include textSet(16px, normal, #000000);
    }
    #info-nav__burgermenu{
        position: absolute;
        div{
           background-color: #1b1c1e;
           width: 30px;
           height: 2px;
           margin-bottom: 10px;
        }
    }
    #info-nav__src{
        margin-left: 30px;
        li{
            display: inline-block;
            margin-left: 42px;
        }
    }
    #logo{
        margin:  0 197px;
        font-size: 18px;
        span{
            font-weight: 700;
        }
    }
    #other-menu{
        text-decoration-style: none;
        li{
            display: inline-block;
            margin-right: 30px;
            #help{
                opacity: 0.4;
                color: #1b1c1e;
            }
            #ios,a{
                background-color: #267df4;
                border-radius: 21px;
                color: #fff;
                padding: 6px 3px;
            }
        }
    }
}

#greet{
    padding: 128px 0 0 0;
    background-image: url(../images/mountains.png);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    #greet__inner{
        text-align: center;
        h1{
            font-family: 'Varela Round', sans-serif;
            @include textSet(62px, 72px, #26272d);
            margin-bottom: 40px;
        }
        #subtitle{
            font-size: 20px;
            color: #8c8f94;
            width: 781px;
            margin: 0 auto;
            margin-bottom: 62px;
        }
        #video-btn{ 
            border: 1px solid #d9dcde;
            border-radius: 25px;
            background-color: #F6F7F9;
            width: 15%;
            margin: 0 40%;
            height: 50px;
            width: 205px;
            margin-bottom: 75px;
            #vide-btn_obj{
                padding: 15px 0;
                span{
                    img{
                    padding: 3px 15px 0 0;
                    }
                }
                #vide-btn__link{
                    font-size: 16px;
                    color: #26272d;
                    text-decoration: none;
                    padding: 18px 0;
                
                }
            }
        }
        #smartphone{
            margin: 0 auto;
        }
    }
}

#features{
    padding: 127px 0 167px 0;
    &::before{
        content: '';
        width: 10px;
        height: 10px;
    }
    #features__inner{
        display: flex;
        @include textSet(26px, 34px,#26272d);
        
        #function-item{
            margin-right: 111px;
            img{
                margin-bottom: 45px;
            }
            h2{
                margin-bottom: 48px;
                font-weight: 300;
            }
            #function-descr{
                @include textSet(18px, 26px, #8c8f94);
                width: 496px;
            }
        }
    }
    hr{
        margin: 126px auto;
        opacity: 0.05;
        border:1px solid #26272d;
        width: 1170px;
    }
}

#protection{
    padding: 126px 0 256px;
    position: relative;
    #protection__inner{
        #iphone{
            right: 54%;
            position: absolute;
            bottom: 0%;
        }
        #specification{
            margin-left: 45%;
            h3{
                font-family: 'Varela Round', sans-serif;
                @include textSet(42px, 52px, #26272d);
                margin-bottom: 73px;
                width: 230px;
            }
            #specification-decr{
                @include textSet(20px, 28px, #8c8f94);
                width: 475px;
                margin-bottom: 75px;
            }
            #specification-btn{
                display: flex;
                #specification-hackbtn{
                    margin-right: 52px;
                    background-color: #267df4;
                    border-radius: 21px;
                    width: 202px;
                    a{
                        padding: 14px 26px ;
                        @include textSet(16px, 45px, #ffffff);
                        span{
                            padding: 0 49px 0 0;
                            background: url(../images/protection/Arrow_Icon.svg) right no-repeat;
                        }
                    }
                }
                #specification-morebtn{
                    border: 1px solid #e9e9ea;
                    border-radius: 21px;
                    width: 142px;
                    text-align: center;
                    a{
                        @include textSet(16px, 40px, #26272d);
                    }
                }
            }
        }
    }
}

#disposition{

    #disposition__inner{
        padding: 205px 0 197px;
        position: relative;
        #map{
            left: 46%;
            position: absolute;
            bottom: 17%;
        }
        
        #interpretation{
            h3{
                font-family: 'Varela Round', sans-serif;
                @include textSet(42px, 52px, #26272d);
                margin-bottom: 64px;
                width: 300px;
            }
            #disposition-decr{
                @include textSet(20px, 28px, #8c8f94);
                margin-bottom: 68px;
                width: 469px;
            }
            #partners{
                p{
                    @include textSet(14px, 22px, #26272d);
                    font-weight: 700;
                    margin-bottom: 31px;
                    text-transform: uppercase;
                    letter-spacing: 0.1em;
                }
                #parner-img{
                    display: flex;
                    #partners-img__dropbox{
                        margin-right: 31px;
                    }
                }
            }
        }
    }
}

#interface{
    padding: 143px 131px;
    background-color: #f5f5f8;
    #interface__inner{
        text-align: center;
        #title{
            font-family: 'Varela Round', sans-serif;
            @include textSet(42px, 52px, #26272d);
            margin-bottom: 45px;
            &::after{
                content: '';
                display: block;
                width: 50px; 
                height: 2px;
                margin: 47px auto;
                background-color: #267df4;
                border-radius: 1px;
            }
        }
        #subtitle{
            @include textSet(12px, 22px, #8c8f94);
            text-transform: uppercase;
            margin-bottom: 46px;
        }
        #image-phone{
            margin-bottom: 198px;
            ul{
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                margin: 0 -33.5%;
                li{
                    width: 23%;
                }
            }
        }
        #invite{
            
            #invite-company-name{
                @include textSet(12px, 22px, #3a3d4b);
                opacity: 0.5;
                text-transform: uppercase;
                margin-bottom: 37px;
            }
            #invite-title{
                font-family: 'Varela Round', sans-serif;
                @include textSet(42px, 52px, #3a3d4b);
                margin-bottom: 47px;
            }
            #adress-input{
                margin-bottom: 66px;
                position: relative;
                #adress-input__string{
                    border-radius: 25px;
                    border: 1px solid #cbcbcf;
                    background-color: #f5f5f8;
                    width: 502px;
                    height: 50px;
                    padding: 0 22px;
                    @include textSet(16px, normal, #3a3d4b);
                    &::placeholder{
                        content: '';
                        
                    }
                }
                #adress-input__sendInvite{
                    position: absolute;
                    @include textSet(16px, 42px, #ffffff);
                    background-color: #6fc754;
                    border-radius: 21px;
                    top: 7%;
                    left: 57%;
                    width: 164px;
                    
                    span{
                        background: url(../images/interface/Arrow_Icon.svg) right no-repeat;
                        padding-right: 30px;
                    }
                }
            }
            #subtitle{
                @include textSet(12px, normal, #3a3d4b);
                opacity: 0.3;
                text-transform: uppercase;
                margin-bottom: 22px;
            }
            #download{
                background-color: #131315;
                border-radius: 30px;
                width: 210px;
                margin: 0 auto;
                padding: 0 0 5px 0;
                #download-store{
                    @include textSet(16px, 25px, #ffffff);
                    span{
                        background: url(../images/interface/Apple_Logo.svg) left no-repeat;
                        padding: 10px 0 35px 40px;
                        p{
                            font-size: 24px;
                            padding-left: 40px;
                        }
                    }
                    
                }
            }
        }
    }
}











